* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  /* <li>の・消し */
}

.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  /* flex-direction: column; */
}

.sidebar {
  height: 100%;
  width: 20%;
  background-color: #00CCFF;
  box-sizing: border-box;
  border: 8px solid rgb(203, 203, 203);
  position: fixed;
}

.sidebar li {
  display: block;
  line-height: 2;
  border-bottom: 3px solid #333;
  padding: 10px;
  /* 文字の周りをpaddingで10px分開ける */
  font-size: 20px;
  text-align: center;
  /* 文字を中央揃えに */
}

.sidebar li a {
  color: white;
  text-decoration: none;
  /* 文字下線消し */
}

.top-line {
  border-top: 3px solid #000;
}

.content {
  height: 100%;
  width: 100%;
}

.titlebar {
  height: 20%;
  width: 80%;
  margin-left: 20%;
  box-sizing: border-box;
  background-color: #00CCFF;
}

.search {
  display: block;
  padding: 50px 0;
  margin: 0 20%;
  text-align: center;
  line-height: 1.8;
}

.input-size {
  padding: 5px 65px 5px 0;
  text-align: left;
  border: none;
  border-radius: 10px;
}

.button-size {
  padding: 3px 10px;
  border: none;
  border-radius: 10px;
}

.field {
  height: auto;
  width: 80%;
  margin-left: 20%;
  box-sizing: border-box;
  border: 8px solid green;
  background-image: url("../images/fukazawa02.jpg");
  background-size: cover;
  /* 背景画像の大きさ・縦横比の設定 */
  background-repeat: no-repeat;
  /* 背景画像の繰り返しを防ぐ */
}

.User-list-all {
  height: 100%;
  width: auto;
  display: block;
  margin: 0 20%;
  background-color: #fff;
}

.User-list {
  display: flex;
  flex-wrap: nowrap;
  padding: 15px 20px;
}

.ad {
  /* 枠からdiv要素を離す */
  width: 100%;
  display: flex;
}

.bd {
  /* 間隔を空ける設定のみ*/
  display: block;
  width: 70%;
  margin-left: 25px;
}

.cd {
  height: auto;
  width: 100%;
  display: flex;
}

.status {
  display: block;
  flex-wrap: nowrap;
}

.follow {
  margin-left: auto;
  margin-right: 0;
  color: rgb(255, 0, 0);
  font-size: 30px;
  border: none;
  background-color: transparent;
}

.scroll {
  height: 80px;
  overflow: auto;
}

h2 {
  line-height: 2;
  text-align: justify;
  font-weight: bold;
  font-size: large;
}

#logo {
  /*サイトロゴの設定*/
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 80px;
}

#icon {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 40px;
}