* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  /* <li>の・消し */
}

.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  /* flex-direction: column; */
}

.sidebar {
  height: 100%;
  width: 20%;
  background-color: #00CCFF;
  box-sizing: border-box;
  border: 8px solid rgb(203, 203, 203);
  position: fixed;
}

.sidebar li {
  display: block;
  line-height: 2;
  border-bottom: 3px solid #333;
  padding: 10px;
  /* 文字の周りをpaddingで10px分開ける */
  font-size: 20px;
  text-align: center;
  /* 文字を中央揃えに */
}

.sidebar li a {
  color: white;
  text-decoration: none;
  /* 文字下線消し */
}

.top-line {
  border-top: 3px solid #000;
}

.content {
  height: 100%;
  width: 100%;
}

.field {
  height: 100%;
  width: 80%;
  margin-left: 20%;
  box-sizing: border-box;
  border: 8px solid green;
}

.profile {
  height: 100%;
  margin: 0 20%;
  display: block;
  border: 1px solid #000;
}

.status {
  margin: 0 30%;
}

.status li {
  line-height: 3;
}

.status a {
  padding-top: 20%;
  text-decoration: none;
}

.scroll {
  height: 80px;
  overflow: auto;
}

h2 {
  padding-top: 20px;
  text-align: center;
  font-size: 50px;
}

#logo {
  /*サイトロゴの設定*/
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 80px;
}

#icon {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 40px;
}