* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  /* <li>の・消し */
}

.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  /* flex-direction: column; */
}

.sidebar {
  height: 100%;
  width: 20%;
  background-color: #00CCFF;
  box-sizing: border-box;
  border: 8px solid rgb(203, 203, 203);
  position: fixed;
}

.sidebar li {
  display: block;
  line-height: 2;
  border-bottom: 3px solid #333;
  padding: 10px;
  /* 文字の周りをpaddingで10px分開ける */
  font-size: 20px;
  text-align: center;
  /* 文字を中央揃えに */
}

.sidebar li a {
  color: white;
  text-decoration: none;
  /* 文字下線消し */
}

.top-line {
  border-top: 3px solid #000;
}

.content-up {
  /* Search(検索画面)上側 */
  height: 35%;
  width: 80%;
  margin-left: 20%;
  box-sizing: border-box;
  border: 8px solid green;
}

.Searchbar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 0px 380px 0px 200px;
}

.pref-age {
  flex-wrap: 1;
  text-align: center;
  margin: 20px 60px;
  /* 上下px　左右Ppx */
  line-height: 70px;
  font-size: 30px;
}

.space {
  padding: 0 14px;
}

.hobby {
  flex-wrap: 1;
  margin-left: auto;
  margin-right: 0px;
  font-size: 30px;
}

.selectbox {
  height: 30px;
  width: 100px;
  vertical-align: 38%;
  text-align: center;
}

.selectbox2 {
  height: 30px;
  width: 100px;
  display: block;
  text-align: center;
}

.searchbutton {
  height: 45px;
  width: 75px;
  margin-top: 0%;
  margin-left: 45%;
  text-align: center;
  color: #FFF;
  background: #000;
  border: #FFF;
  border-radius: 10px;
}

.content-down {
  /* Search(検索画面)下側 */
  height: 65%;
  width: 80%;
  margin-left: 20%;
}

.result {
  display: flex;
  height: 40%;
  width: 100%;
  box-sizing: border-box;
  border: 8px solid #000000;
  border-bottom: 4px solid #000000;
}

.profile {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
}

#profile-icon {
  margin: 12px 30px;
}

.profile1 {
  width: 25%;
  display: block;
    /* div要素の範囲を見やすくする */
  /* border: 1px solid #000;
  border-right: none; */
}

.profile1 h1 {
  /* 氏名の表示　profile2~3上部の空白 */
  height: 45px;
  margin: 0 10px;
  font-size: 25px;
}

.profile1-1 {
  display: block;
  text-align: center;
}

.profile1-1 li {
  padding: 0 8px 0 0;
  line-height: 3;

}

.profile2 {
  width: 15%;
  display: block;
  text-align: right;
}

.blank {
  padding-top: 25%;
}

.profile3 {
  width: 10%;
  display: block;
  line-height: 2;
  text-align: center;
}

.blank2 {
  padding-top: 35%;
}

.profile4 {
  width: 32.5%;
  text-align: right;
  display: block;
  flex-grow: 0;
}

#profile-icon2 {
  margin-top: 15%;
  margin-right: 30%;
}

.scroll {
  overflow: auto;
}

.space {
  /* 空白 */
  width: 100%;
}

#logo {
  /*サイトロゴの配置設定*/
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 80px;
}

#icon {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 40px;
}