
.boss{
    margin: 0 auto;
    margin-top: 100px;
    width: 25%;
}

p{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

body{
    background-image: url("../images/pict.jpg");
    background-size: cover;
}

.content {
    padding: 0.5em 1em;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border-radius: 10px;/*角の丸み*/
    box-sizing: border-box;
    display: block;
    max-width: 400px; /*ここを変えたら大きさ固定できました*/
    margin: 0 auto;
    width: 40vw;
    position: relative;
}
.btn{
    text-align: center;
   
}

.btn-new{
    margin: 60px 0;
    padding: 10px;

    border: rgb(34 184 255);
    color: #3b8fd8;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    
}

.btn-new:hover{
    background-color: rgb(101, 196, 251);
    color: #FFF;

}


