*{
  padding: 0;
  margin: 0;  
  
}

.account{
    background-image: url(ai.jpg);
    
    padding: 40px 0;
    
}
.content{
    padding: 0.5em 1em;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    box-sizing: border-box;
    display: block;
    max-width: 582px;
    margin: 0 auto;
    width: 100%;
    position: relative;

}
.title{

    text-align: center;
    color: aqua;
    font-size: 50px;
    padding-bottom: 20px;

    

}

.p-tag__padding{
    padding: 10px;
}
.textbox{
    font-size: 16px;
}
input{
    padding: 3px;
}
select{
    padding: 10px;
}

.checkbox__padding{
    padding: 5px ;
}

li{
    display:inline;
    padding: 10px;
}
.btn{
    text-align: center;
   
}

.btn-new{
    margin: 60px 0;
    padding: 10px;

    border: rgb(34 184 255);
    color: #3b8fd8;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    
}

.btn-new:hover{
    background-color: rgb(101, 196, 251);
    color: #FFF;

}
li, input[type='checkbox'] {
    cursor: pointer;
}

.element {
    
   
}

.dropbox__padding{
    padding-right: 49px;
}

.dropbox-location__padding{
    padding-right: 33px;
}