{% extends 'book/base.html' %}

{% block title %}
{% endblock title %}
{% comment %} <html>

<head>
  <title>AI</title>
  <meta charset="UTF-8" />
  {% load static %}
  <link href="{% static 'css/Diary.css' %}" rel="stylesheet" />
</head>

<body> {% endcomment %}
  {% block content %}
  <div class="app">
    <div class="main">
      <div class="sidebar">
        <h1 id="logo">
          <img src="../images/aiabana-.jpg" width="250" height="150" alt="トップ">
        </h1>
        <ul>
          <li class="top-line"><a href="../index/index.html">ホーム</a></li>
          <li><a href="../Mypage/Mypage.html">マイページへ</a></li>
          <li><a href="../Good/Good.html">いいね</a></li>
          <li><a href="../Diary/Diary.html" class="current">日記</a></li>
          <li><a href="../Chat/Chat.html">チャット</a></li>
        </ul>
      </div>
      <div class="content">
        <div class="titlebar">
          <h2>日記</h2>
          <form action="ページ内検索のURL" method="get" class="Search">
            <input type="search" name="search" placeholder="キーワードを入力">
            <input type="submit" class="button-space" name="submit" value="検索">
          </form>
        </div>
        {% for obj in qs  %}
        <div class="card">
          <div class="text1">
            <h5>{{obj.title}}</h5><!--タイトル-->
            <p>{{obj.text}}</p><!--コメント-->
            <h6>投稿者: {{obj.author}}</h6><!--ユーザー名-->
            <form action="{% url 'posts:like-post' %}" method='POST' class="ui form">
              {% csrf_token %}
              <input type='hidden' name='post_id' value="{{ obj.id }}">
              {% if user not in obj.liked.all %}
                  <button class="ui button positive" type='submit'>Like</button>
              {% else %}
                  <button class="ui button negative" type='submit'>Unlike</button>
              {% endif %}
              <strong>{{ obj.liked.all.count }} likes</strong>
           </form>
          </div>
          <div class="text2">
            <p>〇分前に投稿</p>
            <div class="button">
              <button type="submit">♥</button>
              <div>
                <a href="{% url 'delete' item.pk %}" class="delete">削除</a>
                <a href="{% url 'update' item.pk %}" class="update">編集</a>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endblock content %}
        <div class="toukou">
          <form action="日記投稿画面のURL" method="post">
            <a href="{% url 'create' %}" class="createBtn">投稿</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  
{% comment %} </body>

</html> {% endcomment %}