<!DOCTYPE html>
<html>

<head>
  <title>投稿画面</title>
  <meta charset="UTF-8" />
  {% load static %}
  <link href="{% static 'css/Diary.css' %}" rel="stylesheet" />

</head>

<body>
  <div>
    {% block content %}
    <form method="post" class="toukougamen">{% csrf_token %}
      {{form.as_p}}
      <button class="btn btn-success mt-4" type="submit">投稿する</button>
      <a href="http://127.0.0.1:8000/book/"><input type="button" value="戻る" name="modottenaiyoruwosiranai"></a>

    </form>
    {% endblock content %}
  </div>
  </form>
</body>

</html>