
.boss{
    margin: 0 auto;
    margin-top: 100px;
    border: solid 2px;
    width: 25%;
}

p{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
body{
    background-image: url("pict.jpg");
    background-size: cover;
}


