* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  /* <li>の・消し */
}

li {
  display: block;
  line-height: 2;
  border-bottom: 3px solid #333;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

li a {
  color: white;
  text-decoration: none;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.sidebar {
  height: 100%;
  width: 20%;
  background-color: #00CCFF;
  box-sizing: border-box;
  border: 8px solid rgb(203, 203, 203);
  position: fixed;
}

.top-line {
  border-top: 3px solid #000;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.titlebar {
  height: 20%;
  width: 80%;
  margin-left: 20%;
  box-sizing: border-box;
  background-color: #00CCFF;
}

.card {
  margin: left 100px;
}

.scroll {
  height: 80px;
  overflow: auto;
}

h2 {
  margin-top: 35px;
  text-align: center;
  font-size: 50px;
}

#logo {
  /*サイトロゴの設定*/
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 80px;
}

#icon {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 40px;
}

.toukou {
  position: fixed;
  top: 650px;
  right: 160px;
}

.Search {
  text-align: right;
}

.button-space {
  margin-right: 20px;
}

.card {
  margin-left: 306px;
  border: 1px solid;
  background-color: beige;
  font-size: 20px;
}

.toukougamen {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.editbutton {
  display: flex;
  justify-content: flex-end;
}

.updategamen {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.sakuzyogamen {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.bookTitle {
  background-color: beige;
}