* {
    padding: 0;
    margin: 0;

}

label {
    text-align: center;
}

body {
    background-image: url(../images/fukazawa02.jpg);
    background-size: cover;
}

.account {
    padding: 40px 0;
}

.content {
    padding: 1em 5em;
    font-weight: bold;
    color: #6091d3;
    /*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;
    /*線*/
    border-radius: 100px;
    /*角の丸み*/
    box-sizing: border-box;
    display: block;
    max-width: 582px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.title {
    text-align: center;
    color: aqua;
    font-size: 50px;
    padding-bottom: 20px;
}

.p-tag__padding {
    padding: 10px;
    line-height: 1;
}

.checkbox__padding {
    line-height: 2;
}

.textbox {
    font-size: 16px;
}

input {
    padding: 3px;
}

select {
    padding: 10px;
}

.checkbox__padding {
    padding: 5px;
}

li {
    display: inline;
    padding: 10px;
}

.upload {
    padding: 50px 0;
    text-align: center;
}

.btn {
    padding: 0px 0 20px 45px;
}

.btn1 {
    padding: 5px 40px;
    margin: 0 15px;
    /* ボタンの間隔を開ける */
    border: rgb(34 184 255);
    color: #3b8fd8;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.btn1:hover {
    background-color: rgb(101, 196, 251);
    color: #FFF;
}

.btn2 {
    padding: 5px 10px;
    border: rgb(34 184 255);
    color: #3b8fd8;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.btn2:hover {
    background-color: rgb(101, 196, 251);
    color: #FFF;
}

li,
input[type='checkbox'] {
    cursor: pointer;
}

.dropbox__padding {
    padding-right: 49px;
}

.dropbox-location__padding {
    padding-right: 33px;
}

#preview {
    height: auto;
    width: 50%;
    margin: 10px;
}