.frame {
    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 99vh;
  }
  .frame1 {
    width: 20%;
  }
  .frame2 {
    width: 80%;
  }

h1{
  line-height: 3;
  margin-bottom: 100px;
  text-align: center;
}

.content {
  background-color: #00CCFF;
  font: #FFF bold;
}

.my{
  line-height: 3;
  border-radius: 5px;
  padding: 11px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.search{
  line-height: 3;
  border-radius: 5px;
  padding: 11px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.good{
  line-height: 3;
  border-radius: 5px;
  padding: 11px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.diary{
  line-height: 3;
  border-radius: 5px;
  padding: 11px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.talk{
  line-height: 3;
  border-radius: 5px;
  padding: 11px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
 
#syasin{
  margin-top: 50px;
}

.scroll{
  height: 80px;
  overflow: auto;
}