.frame {
    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 99vh;
  }
  .frame1 {
    width: 30%;
  }
  .frame2 {
    width: 70%;
  }
  h1{
    line-height: 3;
    margin-bottom: 100px;
  }
  .my{
    line-height: 3;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
