.frame {
    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 99vh;
  }
  .frame1 {
    width: 20%;
    background-color: #00CCFF;
  }
  .frame2 {
    width: 80%;
  }
  .frame3{
    width: 20%;
  }
h1{
  line-height: 3;
  margin-bottom: 100px;
  text-align: center;
}
.content {
  background-color: #00CCFF;
  font: #FFF bold;

}
.my{
  line-height: 3;
  border-radius: 5px;
  padding: 11px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.search{
  line-height: 3;
  border-radius: 5px;
  padding: 11px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.good{
  line-height: 3;
  border-radius: 5px;
  padding: 11px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.diary{
  line-height: 3;
  border-radius: 5px;
  padding: 11px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.talk{
  line-height: 3;
  border-radius: 5px;
  padding: 11px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
 
#syasin{
  margin-top: 50px;
}

.scroll{
  height: 80px;
  overflow: auto;
}
.syozaiti{
  font-size: 30px;
  align-items: center;
  padding-top: 50px;
  padding-left: 170px;
}
.pref{
  padding-top: 0%;
  font-size: 30px;
  text-align: center;
}
.age{
  font-size: 30px;
  align-items: center;
  padding-top: 50px;
  padding-left: 200px;
}
.nenrei{
  padding-top: 0%;
  font-size: 30px;
  text-align: center;
}
.syumi{
  font-size: 30px;
  align-items: center;
  padding-top: 50px;
  padding-left: 170px;
}
.hobby{
  padding-top: 0%;
  font-size: 30px;
  text-align: center;
}